@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* /Pages/Reciepts Registration/CashReceiptAndWithdrawal/CashReceiptAndWithdrawal.razor.rz.scp.css */
.bi[b-ecfabsxtp4]::before {
    vertical-align: middle !important;
}

[b-ecfabsxtp4] table {
    /*    width: 100%;*/
    border-radius: 100px;
    border-collapse: collapse;
    border-radius: 20px !important;
    background-color: #fbede4 !important; /* White background for the whole table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
}

[b-ecfabsxtp4] th {
    color: black; /* Light text color for contrast */
    text-align: center;
    margin:0 auto;
    font-size: 1.1em;
    font-weight: bold;
}

[b-ecfabsxtp4] td {
    padding: 120px 20px; /* Adds consistent padding for table cells */
    text-align: center;
    border-bottom: 1px solid #f1f1f1; /* Light border between rows */
}

[b-ecfabsxtp4] tr:nth-child(odd) {
    background-color: #f9fafc;
    padding:1px;  /* Light color for odd rows */
}

[b-ecfabsxtp4] tr:nth-child(even) {
    background-color: #e9ecef; /* Slightly darker color for even rows */
    padding:1px;
}

[b-ecfabsxtp4] tr:hover {
    background-color: #f1f1f1; /* Light gray hover effect */
    background-color: #fbede4
}

[b-ecfabsxtp4] tr:last-child td {
    border-bottom: none; /* Remove bottom border for the last row */
}

[b-ecfabsxtp4] .pagination {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 10px;
}

    [b-ecfabsxtp4] .pagination .page-item {
        border-radius: 5px;
    }

    [b-ecfabsxtp4] .pagination .page-link {
        background-color: #3498db; /* Button background color */
        color: white;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 0.9em;
    }

        [b-ecfabsxtp4] .pagination .page-link:hover {
            background-color: #2980b9; /* Hover effect on page buttons */
        }
/* /Pages/Reciepts Registration/CustomerBalanceCard.razor.rz.scp.css */


.customCard[b-rvekrh1e6k] {
    transition: all 0.65s ease-in !important;
    cursor: pointer;
}

    .customCard:hover[b-rvekrh1e6k] {
        transform: scale(1.07);
        border-radius: 0.775rem;
    }
